/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

/public/build
/storage/pail
.env.backup
.env.production
.phpactor.json
auth.json
/.vs
ers/storage/framework/views/0cd7ed5e69457bbcd60a3be5eff5ce7f
ers/storage/framework/views/1e1aa83884e2a70dd996cea88cbcbdca
ers/storage/framework/views/1e46a34df1b9bfd5fe1817f62734f679
ers/storage/framework/views/60e76e3f6ee118aa301d09ad33d80360
ers/storage/framework/views/094dc849c7d9406d303264bbc86e20fe
ers/storage/framework/views/381a272461b2008f0c86496e6c6f3b8b
ers/storage/framework/views/2290d36497d9cd80903e7c25f2de30e6
ers/storage/framework/views/370255c315851e782375f3d99aa754c3
ers/storage/framework/views/d1b1293f546853e4e22c14e530df192a
